
<style>

	#form {
		color:#FAEC8B;
		text-align: center;
	}

	h1 {
		border-color:#FF0000;
		border-top: solid;
		border-bottom: solid;
		color:#FAEC8B;
		font-size: 400%;
		text-align: center;
	}

	p {
		font-size: 100%;
	}

	#p {
		font-size: 150%;
	}
</style>

<script type="text/javascript" src="../../assets/javascripts/badLogin.js"></script>


<%= image_tag('dollar.png', :size => '100 x 100', :alt => 'dollar sign', :style => 'position: absolute; top: 20px; left: 10px;')%>

<h1>Welcome to <br />Stock Trader</h1>

<%= image_tag('dollar.png', :size => '100 x 100', :alt => 'dollar sign', :style => 'position: absolute; top: 20px; right: 10px;') %>
		
<%= link_to 'My Trades', controller: 'trades' %><br />
<%= link_to 'Buy/Sell', '/trades/new' %>

<br /></br /><br /></br /><br /></br />

<form id ="form">
	<p style="margin-right:172px"><b><font size="5">Login</font></b></p>
	<font size="4">User Name:</font>&nbsp<input type="text" name="uname" value="" /><br /><br />
		<font size="4">Password:</font>&nbsp&nbsp&nbsp  <input type="password" name="pword" value="" /><br /><br />
	<input style="margin-left:160px; width:70px" type="submit" value="login" onclick="msg()" />
</formm>

